<!DOCTYPE html>
<html xmlns:th="http://thymleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="default">
<head>
    <title>Exception</title>
</head>
<body>
<div layout:fragment="content">
    <label>Player One</label>
    <label>Status: </label>
    <label>Exception</label>
    <div>
        <div class="col"><img class="Centered" src="error" alt="Error"/></div>
        <div class="col"><a href="/">Click To Continue Shopping</a></div>
        <div class="col"><img src="" alt="Error"/></div>
    </div>
</div>
</body>
</html>


